* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

button {
  cursor: pointer;
  background-color: inherit;
}

a,
a:visited {
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-family: "Princess Sofia", sans-serif;
  font-weight: 400;
}

.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  z-index: 10;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wrapper.dark {
  background-color: #333333;
}

.wrapper.grey {
  background-color: #f1f1f1;
}

[class*=__container] {
  max-width: 1216px;
  margin: 0 auto;
  padding: 15px;
}

@media (max-width: 1350.98px) {
  [class*=__container] {
    max-width: 900px;
    padding: 15px;
  }
}
@media (max-width: 991.98px) {
  [class*=__container] {
    max-width: 750px;
    padding: 10px;
  }
}
@media (max-width: 767.98px) {
  [class*=__container] {
    max-width: none;
    padding: 10px;
  }
}
.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.header {
  width: 100%;
}
.header__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__buttons {
  align-items: center;
  display: flex;
  gap: 20px;
  position: relative;
}

.tittle {
  font-size: 50px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0em;
  color: #F18B8B;
}

.tittle.dark {
  color: #fefefe;
}

.dark-mode {
  border: none;
  background-color: #fff;
}

.dark-mode img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn {
  border: 0;
  font-family: inherit;
  border-radius: 30px;
  width: 131px;
  height: 30px;
  background: #e4cbcb;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #75728d;
}

.btn.dark {
  color: #c40909;
}

.header__btn:nth-child(2) {
  background-color: #75728d;
  color: #e4cbcb;
}

.btn.dark:nth-child(2) {
  background-color: #c40909;
  color: #eef2f1;
}

@media (max-width: 991.98px) {
  .header__container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
.level__btn {
  background-color: #e4cbcb;
}

.levels__buttons {
  position: absolute;
  top: 140%;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.levels__buttons {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #e4cbcb;
}
.levels__buttons::before {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 10px 15px 10px;
  border-color: transparent transparent #e4cbcb transparent;
  transform: rotate(0deg);
}

.level__btn {
  background-color: #eef2f1;
}
.level__btn:hover {
  background-color: #75728d;
  color: #ffffff;
}

#grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(6, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  gap: 20px;
}
#grid img {
  width: 100%;
  height: 100%;
  transition: all ease 0.5s;
}
#grid div {
  background-color: #f1f1f1;
  border-radius: 50%;
  border: 0;
  transition: all ease 0.5s;
}
#grid .match {
  background-color: #e4cbcb;
}
#grid .check {
  background-color: #f18b8b;
}

.game-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0 auto;
}

.transparent {
  opacity: 0;
}

@media (max-width: 776.98px) {
  #grid {
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    grid-template-rows: repeat(6, minmax(50px, 1fr));
    gap: 10px;
  }
  #grid div {
    width: 80px;
    height: 80px;
  }
}
.indicators {
  padding: 20px;
}

.indicators__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.indicator {
  text-align: center;
  border-radius: 30px;
  width: 131px;
  height: 30px;
  background-color: #e4cbcb;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #75728d;
}

.indicator.dark {
  background-color: #ffffff;
  color: #c40909;
}

/*# sourceMappingURL=styles.css.map */
