.header {
  width: 100%;
  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  &__buttons {
    align-items: center;
    display: flex;
    gap: 20px;
    position: relative;
  }
}

.tittle {
  font-size: 50px;
  font-weight: 400;
  line-height: 77px;
  letter-spacing: 0em;
  color: #F18B8B;

}

.tittle.dark {
  color: #fefefe;
}

.dark-mode {
  border: none;
  background-color: #fff;
}
.dark-mode img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.btn {
  border: 0;
  font-family: inherit;
  border-radius: 30px;
  width: 131px;
  height: 30px;
  background: #e4cbcb;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #75728d;
}

.btn.dark {
  color: #c40909;
}

.header__btn:nth-child(2) {
  background-color: #75728d;
  color: #e4cbcb;
}

.btn.dark:nth-child(2) {
  background-color: #c40909;
  color: #eef2f1;
}

@media (max-width: 991.98px) {
  .header__container {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

}


// .levels__buttons {
//   width: 166px;
//   height: 200px;
//   background-color: $white;
//   color: $grey;
//   border-radius: 20px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   gap: 5px;

  // &__tittle {
  //   padding-left: 20px;
  // }
  

  // &__buttons {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 20px;
  //   justify-content: space-around;
  //   align-items: center;
  // }
// }
.level__btn {
  background-color: $light-pink;
}
.btn {
}

.levels__buttons {
  position: absolute;
  top: 140%;
  right: 10%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
.levels__btn {
  
}
.btn {
}
.levels__buttons {
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: $light-pink;
  &::before {
    content: '';
    position: absolute;
    top: -10%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 10px 15px 10px;
    border-color: transparent transparent $light-pink transparent;
    transform: rotate(0deg);
  }
}
.level__btn {
  background-color: $light;
  &:hover {
    background-color: $grey;
    color: $white;
  }
}