.indicators {
  padding: 20px;
}
.indicators__container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.indicator {
  text-align: center;
  border-radius: 30px;
  width: 131px;
  height: 30px;
  background-color: $light-pink;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: $grey;
}

.indicator.dark {
  background-color: $white;
  color: $red;
}